<header class="w-100">
    <div class="container-fluid">
        <div class="w-100 d-flex justify-content-sm-end justify-content-between align-items-center">
            <a matRipple matRippleCentered="centered" href="javascript:void(0)" class="d-inline-flex justify-content-center align-items-center text-dark text-decoration-none mr-3">
                <i class="material-icons text-warning">star</i>
            </a>
            <a matRipple matRippleCentered="centered" href="javascript:void(0)" class="d-inline-flex justify-content-center align-items-center text-dark text-decoration-none mr-3">
                <i class="far fa-bell"></i>
            </a>
            <div class="d-inline-block mr-3">
                <b class="text-success">160</b>
                <i class="fas fa-coins text-warning mx-1"></i>
                <b class="text-dark">Admin</b>
            </div>
            <a matRipple matRippleCentered="centered" href="javascript:void(0)" class="d-inline-flex justify-content-center align-items-center text-dark text-decoration-none">
                <i class="material-icons">apps</i>
            </a>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-8 col-md-8 col-sm-12 mb-md-0 mb-4">
            <div class="w-100 rounded overflow-hidden">
                <owl-carousel-o [options]="customOptions">
                    <ng-template carouselSlide>
                        <img src="https://i.picsum.photos/id/648/500/150.jpg" alt="" class="img-fluid">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="https://i.picsum.photos/id/648/500/150.jpg" alt="" class="img-fluid">
                    </ng-template>
                    <ng-template carouselSlide>
                        <img src="https://i.picsum.photos/id/648/500/150.jpg" alt="" class="img-fluid">
                    </ng-template>
                </owl-carousel-o>
            </div>

            <div class="w-100 d-flex justify-content-between mt-4">
                <div class="lefarea bold text-dark">
                    <b>My Feed</b>
                </div>
                <div class="rightarea d-flex justify-content-between">
                    <a href="javascript:void(0)" class="firstfilter d-inline-flex align-items-center text-reset text-decoration-none fz12">
                        <i class="fas fa-sort"></i>
                        <b class="mx-1">Sort by</b>
                        <i class="fas fa-angle-down"></i>
                    </a>
                    <a href="javascript:void(0)" class="firstfilter ml-5 fz12 d-inline-flex align-items-center text-reset text-decoration-none">
                        <i class="fas fa-filter"></i>
                        <b class="mx-1">Filter by</b>
                        <i class="fas fa-angle-down"></i>
                    </a>
                </div>
            </div>


            <div class="w-100 bg-white round-3 p-3 mt-1">
                <div class="w-100 d-flex">
                    <div class="avatar s1 o-hidden mr-2">
                        <img src="https://i.pravatar.cc/150?img=3" alt="mavatar">
                    </div>
                    <div class="w-100">
                        <div class="w-100 d-flex justify-content-between mt-1">
                            <b class="fz14 text-uppercase">EMMY</b> 
                            <span class="lcolor fz10">2 hours ago</span>
                        </div>
                        <p class="p-0 fz12 lcolor mb-2">Here to help you</p>
                        <p class="fz14 mb-2 mlminus">New Broadcast</p>
                        <div class="border-bottom border-top iconsButtons fz12 d-flex align-items-center flex-md-nowrap flex-wrap justify-content-between justify-content-sm-start mlminus">
                            <div class="d-inline-flex align-items-center mr-5 actionBtns">
                                <a matRipple matRippleCentered="centered" href="javascript:void(0)" class="active">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span>2 Likes</span>
                            </div>
                            <div class="d-inline-flex align-items-center mr-5 actionBtns">
                                <a matRipple matRippleCentered="centered" href="javascript:void(0)">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span>I'm Interestes!</span>
                            </div>
                            <div class="d-inline-flex align-items-center mr-5 actionBtns">
                                <a matRipple matRippleCentered="centered" href="javascript:void(0)">
                                    <i class="fas fa-clock"></i>
                                </a>
                                <span>Can't Wait!</span>
                            </div>
                            <div class="d-inline-flex align-items-center actionBtns">
                                <a matRipple matRippleCentered="centered" href="javascript:void(0)">
                                    <i class="fas fa-ellipsis-h"></i>
                                </a>
                                <span>More</span>
                            </div>
                        </div>
                        <div class="reply w-100 pt-2 d-flex mlminus">
                            <div class="avatar s1 o-hidden mr-2">
                                <img src="https://randomuser.me/api/portraits/men/17.jpg" alt="mavatar">
                            </div>
                            <div>
                                <div class="lcolor fz10">38 minutes ago</div>
                                <div class="d-inline-block chipmessage fz12">
                                    <span class="text-uppercase mr-2 userType">admin</span>
                                    <span>I'm Interested!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-100 bg-white round-3 p-3 mt-3">
                <div class="w-100 d-flex">
                    <div class="avatar s1 o-hidden mr-2">
                        <img src="https://i.pravatar.cc/150?img=3" alt="mavatar">
                    </div>
                    <div class="w-100">
                        <div class="w-100 d-flex justify-content-between mt-1">
                            <b class="fz14 text-uppercase">sam</b> 
                            <span class="lcolor fz10">2 hours ago</span>
                        </div>
                        <p class="p-0 fz12 lcolor mb-2">Your Friendly Assistant</p>
                        <p class="fz14 mb-2 mlminus">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, odit.</p>
                        <div class="border-bottom border-top iconsButtons fz12 d-flex align-items-center flex-md-nowrap flex-wrap mlminus justify-content-between justify-content-sm-start">
                            <div class="d-inline-flex align-items-center mr-5 actionBtns">
                                <a matRipple matRippleCentered="centered" href="javascript:void(0)" class="active">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span>2 Likes</span>
                            </div>
                            <div class="d-inline-flex align-items-center mr-5 actionBtns">
                                <a matRipple matRippleCentered="centered" href="javascript:void(0)">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <span>I'm Interestes!</span>
                            </div>
                            <div class="d-inline-flex align-items-center mr-5 actionBtns">
                                <a matRipple matRippleCentered="centered" href="javascript:void(0)">
                                    <i class="fas fa-clock"></i>
                                </a>
                                <span>Can't Wait!</span>
                            </div>
                            <div class="d-inline-flex align-items-center actionBtns">
                                <a matRipple matRippleCentered="centered" href="javascript:void(0)">
                                    <i class="fas fa-ellipsis-h"></i>
                                </a>
                                <span>More</span>
                            </div>
                        </div>
                        <div class="reply w-100 pt-2 d-flex mlminus">
                            <div class="avatar s1 o-hidden mr-2">
                                <img src="https://randomuser.me/api/portraits/men/17.jpg" alt="mavatar">
                            </div>
                            <div>
                                <div class="lcolor fz10">38 minutes ago</div>
                                <div class="d-inline-block chipmessage fz12">
                                    <span class="text-uppercase mr-2 userType">admin</span>
                                    <span>Congratulation!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-4 col-md-4 col-sm-12">
            <div class="w-100 mb-5">
                <div class="actionImage">
                    <img src="https://cdn.pixabay.com/photo/2016/02/13/13/11/cuba-11978060_720.jpg" alt="" class="w-100">
                    <div class="laps text-center">
                        <span class="d-block fz12">1 / 10</span>
                        <span class="d-block">LAPS</span>
                    </div>
                    <img src="assets/car.png" alt="" class="car">
                    <a href="javascript:void(0)" class="edit text-white">
                        <i class="fas fa-pen"></i>
                    </a>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6 mb-3">
                    <div class="infoCard text-center" style="background-image: url('assets/money.png');">
                        <div class="point">90</div>
                        <div class="fz14">Points to next Landmark</div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="infoCard text-center" style="background-image: url('assets/like.png');">
                        <div class="point">1</div>
                        <div class="fz14">Members earned badges last week</div>
                    </div>
                </div>
                <div class="col-md-6 mb-md-0 mb-3">
                    <div class="infoCard text-center" style="background-image: url('assets/event.png');">
                        <div class="point">15</div>
                        <div class="fz14">Events around you</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="infoCard text-center" style="background-image: url('assets/class.png');">
                        <div class="point">4</div>
                        <div class="fz14">Trainings available</div>
                    </div>
                </div>
            </div>
            <div class="w-100">
                <div class="d-flex mb-2 align-items-center">
                    <div class="avatar s1 o-hidden mr-2">
                        <img src="https://i.pravatar.cc/150?img=3" alt="mavatar">
                    </div>
                    <b>SAM</b>
                </div>
                <p class="fz12 ltext">Your Friendly Assistant</p>
            </div>
        </div>
    </div>
</div>